body {
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

h1 {
    align-self: center;
}

#createBook {
    align-self: center;
    padding: 20px;
}

.container {
    flex-wrap: wrap;
    display: flex;
}